<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ma Page d'acceuil</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
</head>
  <!-- code a Hero / Banner section -->
  <div class="banner">
    <div class="my-container">
      <h1>CHORUS</h1>
      <p></p>
      <%= link_to "/instruments", class: "mybtn-primary" do %>
        Voir les instruments
      <% end %></br>

    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="my-container">
    <div class="my-cards">

      <div class="my-card">
        <%= image_tag "apply.jpg", alt: "une photo de guitare" %>
        <h4> Vous cherchez à louer un instrument  </h4>
        <p> Nos utilisateurs ont plusieurs instruments de musique mis en location, nous vous offrons une plateforme pour louer votre matériel de musique en toute sécurité entre particuliers</p>
      </div>

      <div class="my-card">
        <%= image_tag "violin.jpg", alt: "une photo de violon" %>
        <h4>Vous avez un instrument à mettre en location </h4>
        <p>Grace à nos utilisateurs quotidiens, vos instruments bénéficierons d'une visibilité absolue afin qu'ils puissent etre rapidement loué par nos utilisateurs</p>
      </div>

      <div class="my-card">
        <%= image_tag "p.jpg", alt: "une photo avec un echange d'argent" %>
        <h4>Nous vous mettons en relation</h4>
        <p>Nous vous mettons en relation avec le propriétaire de la guitare et le paiement reste entre particulier afin de sécurisé l'echange. </p>
      </div>

    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p> Copyrigth : all reserved for musician and user  </p>
      <p> For Us by Us </p>
    </div>
  </div>

</body>
</html>
