.mybtn-primary {
  display: inline-block;
  background-color: #dda11e;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.ulbtn {
  list-style-type: none;
}

.ulbtn td{
  display: inline-block;
}

.mybtn-accept {
  display: inline-block;
height: 30px;
width: 80px;
  border-radius: 50px;
  border: 1px solid rgb(19, 101, 19);
  color: rgb(19, 101, 19);
}
.mybtn-accept:hover {
  display: inline-block;
  border: 1px solid rgb(37, 205, 37);
  border-radius: 50px;
  color: rgb(37, 205, 37);
}
.mybtn-refuse {
  display: inline-block;
height: 30px;
width: 80px;
  border-radius: 50px;
  border: 1px solid rgb(101, 19, 19);
  color: rgb(101, 19, 19);
}
.mybtn-refuse:hover {
  display: inline-block;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 50px;
  color: rgb(255, 0, 0);
}

.btn22 a{
  display: inline-block;
  background-color: #dda11e;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.mybtn-primary:hover {
  display: inline-block;
  background-color: #feae00;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.mybtn-secondary {
  border: 1px solid #1EDD88;
  padding: 8px 16px;
  border-radius: 50px;
  color: #1EDD88;
}

.mybtn-alert {
  display: inline-block;
  padding: 16px 36px;
  border-radius: 50px;
  color: rgb(205, 205, 205);
}

.mybtn-alert:hover {
  display: inline-block;
  padding: 16px 36px;
  border-radius: 50px;
  color: #feae00;
}
